sanic
sanic-openapi
sanic-limiter
sanic-useragent
sanic-cors
Sanic-SSLify
secure
json-logging-py
aiohttp
elasticsearch
bcrypt
sanic-jwt-extended==1.0.dev12
aiohttp

sanic-testing
pytest
pytest-asyncio
pytest-sanic
sphinx
tox
bumpversion
twine
coverage
pytest-cov
pytest-runner
gitchangelog
